:host {
  border: 1px solid bisque;
}

header {
  height: 50px;
  background-color: bisque;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

input {
  border: 1px solid burlywood;
  padding: 3px 5px;
}

button {
  background-color: bisque;
  border: none;
  padding: 3px;
  cursor: pointer;
}

label {
  margin-bottom: 10px;
}
