:host {
  border: 1px solid black;
}

header {
  height: 50px;
  background-color: bisque;
  text-align: center;
  line-height: 50px;
  text-transform: uppercase;
}

form {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
label {
  margin-bottom: 10px;
}
